@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: Roboto;
    display: none; 
}

.cursor {
    cursor: default;
    z-index: 999999;
    display: initial;
}

.dialog {
  width: 640px;
}

input:invalid {
    border-color: red;
}

.form {
  position: absolute;
  left: 900px;
  top: 80px;
  z-index: 1;
  background: #FFFFFF;
  max-width: 640px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=text], input[type=password] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f8851f;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover,.form button:active,.form button:focus {
  background: #db7b27;
}

.dialog-selector input{
    margin:10;
	padding:0;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.dialog-selectorf input{
    margin:0;
	padding:0;
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

fieldset {
  overflow: hidden
}

.dialog-selectorg {
  margin: 0 0 15px;
}

.dialog-selectora {
  margin: 0 0 15px;
}

 label { 
  float: left;
  clear: none;
  display: block;
  padding: 2px 1em 1 0;
  margin: 2px;
  overflow: hidden
 }

.dialog-selector {
 font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 50px;
  box-sizing: border-box;
  float: left;
  clear: none;
  overflow: hidden
}

img {
  font-weight: bold;
  margin: 0 0 50px;
  align-self: center;
}

button#gender:focus{
  background: #43A047;
}

.dialog-selector1 {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
}

input[type=radio],
.radio.outfit {
  float: left;
  clear: none;
  margin: 0px 0 0 2px;
}

.outfit1{background-image:url(img/14Street3.png);}
.outfit2{background-image:url(img/14Street4.png);}
.outfit3{background-image:url(img/14Street5.png);}

.outfit4{background-image:url(img/15Standard8.png);}
.outfit5{background-image:url(img/15Standard11.png);}

.outfit6{background-image:url(img/15Standard12.png);}
.outfit7{background-image:url(img/15Standard17.png);}
.outfit8{background-image:url(img/15Standard19.png);}
.outfit9{background-image:url(img/35Lowriders4.png);}
.outfit10{background-image:url(img/39Hipster1.png);}

.outfit11{background-image:url(img/39Hipster6.png);}
.outfit12{background-image:url(img/39Hipster10.png);}
.outfit13{background-image:url(img/Casual1.png);}
.outfit14{background-image:url(img/Casual3.png);}
.outfit15{background-image:url(img/party2.png);}

.outfit16{background-image:url(img/2Beach2.png);}
.outfit17{background-image:url(img/2Beach7.png);}
.outfit18{background-image:url(img/2Beach8.png);}

.outfit19{background-image:url(img/Femme1.png);}
.outfit20{background-image:url(img/Femme2.png);}
.outfit21{background-image:url(img/Femme3.png);}


.dialog-selector input:active +.out-cc{opacity: .9;}
.dialog-selector input:checked +.out-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.dialog-selectorf input:active +.out-cc{opacity: .9;}
.dialog-selectorf input:checked +.out-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.out-cc{
    cursor:pointer;
    background-size:cover;
    background-repeat:no-repeat;
    display:block;
    width:85px;height:130px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.7);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.7);
            filter: brightness(1.2) grayscale(.5) opacity(.7);
}

.out-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.2) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.2) opacity(.9);
            filter: brightness(1.2) grayscale(.2) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
